# Core Framework
fastapi
uvicorn[standard]

# Data Validation & Settings
pydantic
pydantic-settings
python-dotenv
pydantic[email]

# Asynchronous Database Driver for PostgreSQL
asyncpg
SQLAlchemy

# RabbitMQ Client
pika
aio-pika

# AWS S3 Integration
boto3

# For making external API calls (e.g., to Weather API)
httpx

# For handling file uploads
python-multipart

# AI / ML Libraries
transformers
torch
scikit-learn
opencv-python-headless

# --- Development Dependencies (install separately) ---
# For code quality and testing.
# Run: pip install black ruff pytest


#Database ORM and PostgreSQL Driver
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
GeoAlchemy2

# Security and Authentication
passlib[bcrypt]
python-jose[cryptography]

# Offline/SQLite Support
aiosqlite
sqlite-utils

#s3
boto3

gunicorn==21.2.0

huggingface_hub 
requests