psycopg2-binary
python-dotenv
google-generativeai
google-ai-generativelanguage
google-api-python-client
pydantic
tqdm
openai
httpx
anyio
protobuf
grpcio
grpcio-status
langchain
google-genai
langchain-google-genai
python-dotenv 